@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.sidebarsList-originalTitle, /* Hide original label */
#sidebar-header > spacer[flex="1000"] { /* Firefox 55+ */
	display: none;
}
#sidebar-icon {
	/* Firefox 55+, try fix width of built-in menu-button */
	min-width: 16px;
	min-height: 16px;
}
.sidebarsList-reload {
	padding: 0 !important;
	margin: 0 3px !important;
}
.sidebarsList-reload:not([loading="true"]) {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(0 16px 16px 0);
}
.sidebarsList-reload:not([loading="true"]):not(:active):hover {
	opacity: 0.85;
}

/* Special styles */
.sidebarsList-reload:not([loading="true"]):-moz-lwtheme-darktext {
	-moz-image-region: rect(0 32px 16px 16px);
}
.sidebarsList-reload:not([loading="true"]):-moz-lwtheme-brighttext {
	-moz-image-region: rect(0 48px 16px 32px);
}
/* Override using extensions.sidebarslist.reloadButtonStyle preference */
.sidebarsList-reload:not([loading="true"])[sidebarslist_style="colorful"] {
	-moz-image-region: rect(0 16px 16px 0);
}
.sidebarsList-reload:not([loading="true"])[sidebarslist_style="black"] {
	-moz-image-region: rect(0 32px 16px 16px);
}
.sidebarsList-reload:not([loading="true"])[sidebarslist_style="white"] {
	-moz-image-region: rect(0 48px 16px 32px);
}

/* We don't use #id to work in cloned menu (Sidebars button) in Firefox 30+ */
.sidebarsList-sidebarToContent {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(16px 32px 32px 16px);
}
.sidebarsList-contentToSidebar {
	list-style-image: url("icons16.png");
	-moz-image-region: rect(16px 16px 32px 0);
}
.sidebarsList-sidebarToContent[disabled] .menu-iconic-icon,
.sidebarsList-contentToSidebar[disabled] .menu-iconic-icon {
	opacity: 0.32;
}
/* Correct icons, no built-in styles for now (Firefox 32.0a1) */
.sidebarsList-sidebarToContent.subviewbutton > .toolbarbutton-icon,
.sidebarsList-contentToSidebar.subviewbutton > .toolbarbutton-icon {
	-moz-margin-end: 5px !important;
}
.sidebarsList-sidebarToContent.subviewbutton > .toolbarbutton-text,
.sidebarsList-contentToSidebar.subviewbutton > .toolbarbutton-text {
	-moz-padding-start: 0 !important;
}

#sidebarsList-splitter {
	cursor: pointer;
	min-width: 0 !important;
	max-width: none !important;
}

menuitem[sidebarslist_currentpos="false"] {
	font-style: italic;
}
menuitem[sidebarslist_notstd="true"] {
	color: -moz-hyperlinktext;
	color: -moz-nativehyperlinktext;
}